.colorpicker {
    width: 320px;
    height: 175px;
    overflow:hidden;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
    border:black 1px solid;
    border-radius:4px;
    background-color:#444;
    /*
	 *display: none;
     */
}

.colorpicker_nav {
	position: absolute;
	top: 3px;
	right: 5px;
}

.colorpicker_nav a {
    text-decoration:none;
    background-color:#dedede;
    width:14px;
    height:14px;
    display:block;
    float:right;
    margin-left:4px;
    text-align:center;
    border-radius:2px;
    font-size:12px;
}

.colorpicker_nav a:hover {
    background-color:#fff;
}

.colorpicker_nav a.colorpicker_cancel {
    color:#bb0000;
}

.colorpicker_nav a.colorpicker_accept {
    color:#008800;
}

.colorpicker_color {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 150px;
	height: 150px;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}

.colorpicker_color .alpha_channel {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 150px;
	background: transparent url(../img/transparent.png);
}

.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../img/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../img/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	background: url(../img/hue.png) center no-repeat;
	position: absolute;
	top: 10px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../img/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_fields {
	position: absolute;
    left:215px;
    top:22px;
}
.colorpicker input {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 22px;
    width:40px;
    background-color:#222;
    border:1px solid #ccc;
    color:#ccc;
}

.colorpicker_fields label {
    font-size:13px;
    color:#ccc;
    width:15px;
    padding-top:3px;
}

.rgb_row, .hex_row {
    margin-bottom:5px;
}

.rgb_row div, .hex_row div {
    margin:3px 4px 6px 0;
    clear:left;
    height:22px;
}

.rgb_row div *, .hex_row div * {
    display:block;
    float:left;
}

.hex_row {
    width:95px;
}

div.button_wrap {
    float:right;
    margin:0;
    padding:0;
}

div.button_wrap a {
    font-size:12px;
    border:1px solid black;
    background:url(../img/disable.png) center;
    display:block;
    height:20px;
    width:20px;
}
